* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background: #f2f4f8;
  font-family: "Poppins" sans-serif;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.menu-toggle {
  color: white;
  display: none;
}
#nav-menu.show {
  display: block;
}
a {
  text-decoration: none;
  color: green;
  font-size: 26px;
}
a:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 80px rgba(7, 0, 0, 0.8);
}
label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: 600;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
select,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
.hobby-group,
.gender-group {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 20px;
  align-items: center;
}
.gender-group label,
.hobby-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between radio and text */
}
input[type="submit"] {
  background-color: #3333;
  color: fffff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }

  nav ul.show {
    display: flex;
  }
  a {
    font-size: 16px;
  }
}
